# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
out/
build/
release/

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.fleet/
.history/

# Electron runtime state
window-state.json
/*.asar

# Env
.env
.env.*